extend layout
block head
  link(rel='stylesheet', href='theme.css')
  script(type="text/javascript",src="/room.js")
block header
block content
  div(class="jumbotron")
    h1
      |Poker Select
    p
      |Select the poker session that you wish to join.
  div(class="page-header")
    Poker Select
  div(class="row")
    div(class="col-md-6")
      div(id="available-rooms")
        p(class="placeholder")
          |No poker sessions available, please wait for the master to start one.