extend layout
block head
  link(rel='stylesheet', href='theme.css')
  script(type="text/javascript",src="/select.js")
  script(type="text/javascript",src="/room.js")
block header
block content
  div(class="jumbotron")
    h1
      |Poker Select
    p
      |Select session to join or start a new one.
  div(class="page-header")
    Role Select
  div(class="row")
    div(class="col-md-6")
      p
        |Ongoing poker sessions:
      div(id="available-rooms")
        div(id="roomList" class="list-group")
        p(class="placeholder")
          |No poker sessions available, please wait, or
      form(class="form-inline", role="form" method="get", action="/selectrole")
        a(id="masterBtn", data-toggle="button", class="btn btn-default", href="#")
          |Start new session
        div(id="roomNameContainer", class="form-group", style="display:none;")
          label(for="newRoomName")
            |&nbsp;&nbsp;Name of the poker:&nbsp;&nbsp;
          input(type="hidden", value="master", name="role")
          input(type="text", name="room", class="form-control", id="newRoomName")
          button(id="startPokerBtn", type="submit", class="btn btn-primary" disabled="disabled")
            |Start